.page {
  background-color: #FFFFFF;
  color: #2e2f42;
}

/* logo */
.logo {
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

.list {
    list-style: none;
}

.site-nav .link {
    color: #2E2F42;
    
}

.Contacts-nav {
    color: #434455;

}

